@import './styles.css';
@import './responsive.css';

/* ---------- SECITON HEADER ---------- */
.header .container {
  justify-content: space-between;
}
.logo,
.logo-caption {
  display: flex;
  align-items: center;
}
.nav {
  height: auto;
  width: auto;
  border-left: 8px solid var(--pink);
  border-right: 8px solid var(--pink);
  background: rgba(255, 28, 110, 0.2);
  padding: 22px 73px;
}
.main-menu {
  display: flex;
  gap: 128px;
}
.main-menu__link {
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Kusanagi';
  font-size: 20px;
  line-height: 24px;
}
.main-menu__item:nth-last-of-type(2) .main-menu__link {
  color: var(--pink);
}
.search-form {
  border-left: 8px solid var(--pink);
  border-right: 8px solid var(--pink);
  background: rgba(255, 28, 110, 0.2);
}
.search-form label {
  display: flex;
  align-items: center;
  padding: 22px 32px;
}
input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
