@media only screen and (max-width: 1880px) {
  /* ---------- SECTION HERO start ---------- */
  .nft-characters {
    background-size: contain;
    width: 700px;
    align-self: center;
    grid-row: 1 / 3;
  }
  /* ---------- SECTION HERO end ---------- */
}

@media only screen and (max-width: 1780px) {
  /* ---------- SECTION HERO start ---------- */
  .header .container {
    max-width: auto;
    padding: 28px 120px 0 120px;
  }
  .nav {
    background-image: none;
    width: auto;
  }
  .menu-first {
    margin-left: 0;
  }
  .menu-second {
    margin-left: 0;
    margin-right: 0;
  }
  /* ---------- SECTION HERO end ---------- */
}
@media only screen and (max-width: 1620px) {
  /* ---------- SECTION HERO start ---------- */
  .spiner {
    display: none;
  }
  .section-hero__h1 span,
  .section-hero__h2 span,
  .section-hero__h3 span {
    display: inline-block;
  }
  .section-hero__h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .section-hero__h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .section-hero__h3 {
    font-size: 16px;
    line-height: 16px;
  }
  /* ---------- SECTION HERO end ---------- */
}
@media only screen and (max-width: 1440px) {
  /* ---------- SECTION HERO start ---------- */
  .nft-characters {
    width: 500px;
  }
  /* ---------- SECTION HERO end ---------- */
}
@media only screen and (max-width: 1280px) {
  /* ---------- SECTION HERO start ---------- */
  .red-blur {
    display: none;
  }
  .header .container {
    padding: 16px 16px 0 16px;
  }
  .nav {
    display: none;
  }
  .logo-caption {
    display: block;
  }
  .logo-tablet {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .menu-btn-tablet {
    display: block;
  }
  .nft-characters {
    display: none;
  }
  .nft-characters-tablet {
    display: block;
    margin: 9px 0 29px;
  }
  .section-hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin: 0 14px;
    padding: 0;
  }
  .section-hero-main {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .hero-btn-frame {
    margin-top: 0;
  }
  /* ---------- SECTION HERO end ---------- */
}
@media only screen and (max-width: 768px) {
  /* ---------- SECTION HERO start ---------- */

  .section-hero {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .nft-characters-tablet {
    width: 341.75px;
    height: 286px;
  }
  .hero__btn--ornament {
    display: none;
  }
  .section-hero__h1 {
    font-size: 22px;
    line-height: 22px;
  }
  .section-hero__h2 {
    font-size: 13px;
    line-height: 13px;
  }
  .section-hero__h3 {
    font-size: 14px;
    line-height: 14px;
    display: contents;
  }
  /* ---------- SECTION HERO end ---------- */
  /* ---------- SECTION NFT-COLLECTION start ---------- */
  .nft-cards {
    grid-template-columns: 1fr;
  }
  .roadmap-2021,
  .roadmap-2022 {
    display: flex;
  }
  .roadmap-line {
    transform-origin: bottom;
    transform: rotate(-90deg);
  }
  .roadmap-cards {
    flex-direction: column;
  }
  .roadmap-cards img {
    width: 327px;
    height: 331px;
  }
}
@media only screen and (max-width: 375px) {
}
