@media only screen and (max-width: 1880px) {
  /* ---------- SECTION HERO start ---------- */
  .nft-characters {
    background-size: contain;
    width: 700px;
    align-self: center;
    grid-row: 1 / 3;
  }
  .red-blur {
    display: none;
  }
  /* ---------- SECTION HERO end ---------- */
}

@media only screen and (max-width: 1780px) {
  .nft-links {
    margin-left: 40px;
    margin-right: 40px;
  }
  /* ---------- SECTION HERO start ---------- */
  .header .container {
    max-width: auto;
    padding: 28px 120px 0 120px;
  }
  .section-hero {
    margin-left: 60px;
  }
  .nav {
    background-image: none;
    width: auto;
  }
  .menu-first {
    margin-left: 0;
  }
  .menu-second {
    margin-left: 0;
    margin-right: 0;
  }
  /* ---------- SECTION HERO end ---------- */
  /* ---------- NFT-CARDS start ---------- */
  .nft-collection.container {
    margin-left: 60px;
    margin-right: 60px;
  }
  .nft-cards {
    grid-template-columns: 1fr;
    display: none;
  }
  .nft-slider-new {
    display: block;
  }
  .nft-cards .card {
    flex-direction: column;
    align-items: center;
  }
  .nft-cards-new .card {
    flex-direction: column;
    align-items: center;
  }
  .card__frame.frame--red {
    background: url(../img/nftcard-tablet-top-red.svg),
      url(../img/nftcard-tablet-bottom-red.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    width: 736px;
  }
  .card__frame.frame--green {
    background: url(../img/nftcard-tablet-top-green.svg),
      url(../img/nftcard-tablet-bottom-green.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    width: 736px;
  }
  .card__frame.frame--blue {
    background: url(../img/nftcard-tablet-top-blue.svg),
      url(../img/nftcard-tablet-bottom-blue.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    width: 736px;
  }
  .card__frame.frame--pink {
    background: url(../img/nftcard-tablet-top-pink.svg),
      url(../img/nftcard-tablet-bottom-pink.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    width: 736px;
  }
  .card-info-content {
    font-size: 18px;
    line-height: 24px;
  }
  .card-info__header {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 33px;
  }
  .card-info__text {
    font-size: 20px;
    line-height: 24px;
  }
  .nft-cards .card:not(:first-of-type) {
    display: none;
  }
  .nft-slider {
    display: flex;
  }
  /* ---------- SECTION ROADMAP start ---------- */
  .section-roadmap-main {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .roadmap__h3 {
    margin-left: 0;
    text-align: center;
  }
  /* ---------- SECTION FAQ start ---------- */
  .section-faq__main {
    gap: 21px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1620px) {
  /* ---------- SECTION HERO start ---------- */
  .spiner {
    display: none;
  }
  .section-hero__h1 span,
  .section-hero__h2 span,
  .section-hero__h3 span {
    display: inline-block;
  }
  .section-hero__h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .section-hero__h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .section-hero__h3 {
    font-size: 16px;
    line-height: 16px;
  }
  /* ---------- SECTION HERO end ---------- */
  .nft-collection .container {
    max-width: 736px;
  }
  .nft-collection-h2 {
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 1440px) {
  /* ---------- SECTION HERO start ---------- */
  .nft-collection.container {
    margin-top: 48px;
  }
  .nft-characters {
    display: none;
  }
  .nft-characters-tablet {
    display: block;
    margin: 9px 0 29px;
  }
  .section-hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin: 0 14px;
    padding: 0;
  }
  .section-hero-main {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .hero-btn-frame {
    margin-top: 0;
  }
  /* ---------- SECTION HERO end ---------- */
  /* ---------- SECTION NFT-CHARACTERS start ---------- */
  .nft-collection {
    margin-top: 128px;
  }
}

@media only screen and (max-width: 1280px) {
  /* ---------- SECTION HERO start ---------- */
  .header {
    margin-bottom: 12px;
  }
  .header .container {
    padding: 16px 16px 0 16px;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
  }
  .nav {
    display: none;
  }
  .logo-caption {
    display: block;
  }
  .logo-tablet {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .menu-btn-tablet {
    display: block;
  }
  /* ---------- SECTION HERO end ---------- */
  .header .container,
  .nft-collection.container {
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px 0 0;
  }
  /* ---------- SECTION CREATOR start ---------- */
  .creator-frame {
    background: url(../img/creator-frame-tablet.png) center no-repeat;
    width: 736px;
    height: 870px;
    justify-content: center;
    margin: 0;
  }
  .creator-frame__article {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .creator-info {
    align-items: center;
    text-align: center;
    max-width: none;
  }
  .creator-img {
    background-size: contain;
    width: 320px;
    height: 370px;
  }
  .h4-span {
    margin: 0 0 16px;
  }
  .career__p {
    font-size: 18px;
  }
  /* ---------- SECTION ROADMAP start ---------- */
  .section-roadmap .container {
    margin: 0 16px;
  }
  .section-roadmap-main {
    gap: 0;
  }
  .roadmap-card,
  .roadmap-line,
  .roadmap__h3 {
    display: none;
  }
  .roadmap-card-tab,
  .roadmap-line-tablet,
  .roadmap__h3-tablet {
    display: block;
  }
  .roadmap-2021,
  .roadmap-2022 {
    display: flex;
    gap: 20px;
  }
  .section-roadmap .roadmap-cards {
    flex-direction: column;
    align-self: center;
    gap: 24px;
  }
  .roadmap-card-tab {
    width: 311px;
    height: 333px;
  }
  /* ---------- SECTION FAQ start ---------- */
  .section-faq .container {
    margin-left: 16px;
    margin-right: 16px;
  }
  /* ---------- SECTION CONTACT start ---------- */
  .contact-frame {
    width: 736px;
  }
  .contact__main {
    padding-top: 48px;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
  input[alt='name'],
  input[alt='mail'] {
    width: 346px;
  }
  .btn-send {
    margin-top: 8px;
  }
}

@media only screen and (max-width: 768px) {
  /* ---------- SECTION HERO start ---------- */
  .logo {
    width: 50px;
    height: 48px;
  }
  .section-hero {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .nft-characters-tablet {
    width: 341.75px;
    height: 286px;
  }
  .hero__btn--ornament {
    display: none;
  }
  .section-hero__h1 {
    font-size: 22px;
    line-height: 22px;
  }
  .section-hero__h2 {
    font-size: 13px;
    line-height: 13px;
  }
  .section-hero__h3 {
    font-size: 14px;
    line-height: 14px;
    display: contents;
  }
  /* ---------- SECTION HERO end ---------- */
  /* ---------- SECTION NFT-COLLECTION start ---------- */

  .nft-cards {
    grid-template-columns: 1fr;
  }
  .nft-links {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .card-info__header h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .card__frame.frame--red {
    background: url(../img/nftcard-mobile-top-red.svg),
      url(../img/nftcard-mobile-bottom-red.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    max-width: 343px;
  }
  .card__frame.frame--blue {
    background: url(../img/nftcard-mobile-top-blue.svg),
      url(../img/nftcard-mobile-bottom-blue.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    max-width: 343px;
  }
  .card__frame.frame--pink {
    background: url(../img/nftcard-mobile-top-pink.svg),
      url(../img/nftcard-mobile-bottom-pink.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    max-width: 343px;
  }
  .card__frame.frame--green {
    background: url(../img/nftcard-mobile-top-green.svg),
      url(../img/nftcard-mobile-bottom-green.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    max-width: 343px;
  }
  /* ---------- SECTION CREATOR start ---------- */
  .section-creator h2 {
    font-size: 36px;
  }
  .creator-frame {
    background: url(../img/creator-frame-mobile.svg) no-repeat;
    width: 343px;
    height: 1168px;
  }
  .creator-info {
    align-items: start;
    text-align: left;
  }
  /* ---------- SECTION ROADMAP start ---------- */
  .section-roadmap h2,
  .roadmap__h3-tablet {
    font-size: 36px;
  }
  .roadmap-2021,
  .roadmap-2022 {
    display: flex;
  }
  .roadmap-line {
    transform-origin: bottom;
    transform: rotate(-90deg);
  }
  .roadmap-cards {
    flex-direction: column;
  }
  .section-faq h2 {
    font-size: 36px;
  }
  /* ---------- SECTION FAQ start ---------- */
  /* ---------- SECTION CONTACT start ---------- */
  .section-contact h2 {
    font-size: 36px;
  }
  .contact-frame {
    padding: 5px 0;
    width: 343px;
  }
  .contact__main {
    padding-top: 32px;
    grid-template-areas: 'contact-email contact-email' 'contact-location contact-location' 'input-name input-name' 'input-email input-email' 'textarea textarea' 'btn-send btn-send' 'socials socials';
  }
  .contact__main h4 {
    margin-bottom: 24px;
  }
  textarea {
    width: 311px;
    height: 133px;
  }
  input[name='email'],
  input[name='name'] {
    width: 311px;
    height: 48px;
  }
  footer {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  /* ---------- SECTION ROADMAP start ---------- */
  .roadmap-line-tablet {
    display: none;
  }
  .roadmap-line-mobile {
    display: block;
  }
  .roadmap-2021,
  .roadmap-2022 {
    gap: 5px;
  }
}

@media only screen and (max-width: 375px) {
  /* ---------- SECTION FAQ start ---------- */
  .faq-card__p {
    font-size: 18px;
    line-height: 19px;
  }
}

@media only screen and (max-width: 500px) {
  .navigator-container {
    width: calc(100vw - 32px);
  }
}
